dashboard/flow.json
[
    {
        "id": "dd6f4269.ed9e4",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f76f0793.fbb4b8",
        "type": "websocket-listener",
        "path": "/data",
        "wholemsg": "false"
    },
    {
        "id": "b52b6c9e.ba158",
        "type": "websocket-client",
        "path": "ws://localhost:1880/data",
        "tls": "",
        "wholemsg": "false"
    },
    {
        "id": "92f30616.03ecc8",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2421fe3a.ebabf2",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "35d80b0f.2be3c4",
        "type": "ui_group",
        "name": "Default",
        "tab": "92f30616.03ecc8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9c7ec17e.d6dce",
        "type": "inject",
        "z": "dd6f4269.ed9e4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "$random() * 10 + 25",
        "payloadType": "jsonata",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "3c5953a7.66c64c"
            ]
        ]
    },
    {
        "id": "3c5953a7.66c64c",
        "type": "websocket out",
        "z": "dd6f4269.ed9e4",
        "name": "",
        "server": "f76f0793.fbb4b8",
        "client": "",
        "x": 260,
        "y": 60,
        "wires": []
    },
    {
        "id": "bdd6375.2c6f8c8",
        "type": "debug",
        "z": "dd6f4269.ed9e4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 120,
        "wires": []
    },
    {
        "id": "fb4f8804.f76778",
        "type": "websocket in",
        "z": "dd6f4269.ed9e4",
        "name": "",
        "server": "",
        "client": "b52b6c9e.ba158",
        "x": 180,
        "y": 120,
        "wires": [
            [
                "bdd6375.2c6f8c8",
                "6b21eb32.139734",
                "2e8b0578.3f1a3a"
            ]
        ]
    },
    {
        "id": "6b21eb32.139734",
        "type": "ui_chart",
        "z": "dd6f4269.ed9e4",
        "name": "",
        "group": "35d80b0f.2be3c4",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 390,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "2e8b0578.3f1a3a",
        "type": "switch",
        "z": "dd6f4269.ed9e4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "34",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 110,
        "y": 240,
        "wires": [
            [
                "7d72d483.3a6c8c"
            ]
        ]
    },
    {
        "id": "7d72d483.3a6c8c",
        "type": "template",
        "z": "dd6f4269.ed9e4",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Warning: {{payload}} !",
        "output": "str",
        "x": 240,
        "y": 240,
        "wires": [
            [
                "ff4fafaa.cc189"
            ]
        ]
    },
    {
        "id": "ff4fafaa.cc189",
        "type": "ui_toast",
        "z": "dd6f4269.ed9e4",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 400,
        "y": 240,
        "wires": []
    }
]