dashboard/flows.json
[
    {
        "id": "8fe719d8.c92058",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fb451cd1.7a98f",
        "type": "http request",
        "z": "8fe719d8.c92058",
        "name": "get image",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "https://raw.githubusercontent.com/kazuhitoyokoi/node-red-contrib-tensorflow/master/samples/airplane.jpg",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "efc3ac19.37ee7",
                "d0bb2d8b.60059"
            ]
        ]
    },
    {
        "id": "efc3ac19.37ee7",
        "type": "image",
        "z": "8fe719d8.c92058",
        "name": "source image",
        "width": "200",
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 140,
        "y": 260,
        "wires": []
    },
    {
        "id": "d0bb2d8b.60059",
        "type": "cocossd",
        "z": "8fe719d8.c92058",
        "name": "",
        "x": 340,
        "y": 160,
        "wires": [
            [
                "ac2ccf9c.d3a33",
                "b2a83b32.3529b8",
                "39478faf.0d5a6"
            ]
        ]
    },
    {
        "id": "b2a83b32.3529b8",
        "type": "image",
        "z": "8fe719d8.c92058",
        "name": "annotated image",
        "width": "200",
        "data": "annotatedInput",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 390,
        "y": 260,
        "wires": []
    },
    {
        "id": "ac2ccf9c.d3a33",
        "type": "debug",
        "z": "8fe719d8.c92058",
        "name": "result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 390,
        "y": 60,
        "wires": []
    },
    {
        "id": "5a0c6b46.391024",
        "type": "inject",
        "z": "8fe719d8.c92058",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 60,
        "wires": [
            [
                "fb451cd1.7a98f"
            ]
        ]
    },
    {
        "id": "647d8cdc.ed6304",
        "type": "link in",
        "z": "8fe719d8.c92058",
        "name": "",
        "links": [
            "39478faf.0d5a6"
        ],
        "x": 35,
        "y": 160,
        "wires": [
            [
                "fb451cd1.7a98f"
            ]
        ]
    },
    {
        "id": "39478faf.0d5a6",
        "type": "link out",
        "z": "8fe719d8.c92058",
        "name": "",
        "links": [
            "647d8cdc.ed6304"
        ],
        "x": 475,
        "y": 160,
        "wires": []
    }
]
