tensorflow/flows.json
[{"id":"c0d87753.404178","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cb20758f.04da48","type":"image","z":"c0d87753.404178","name":"source","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":true,"outputs":1,"x":270,"y":100,"wires":[["1909ebf3.aa71d4"]]},{"id":"1909ebf3.aa71d4","type":"cocossd","z":"c0d87753.404178","name":"","x":400,"y":100,"wires":[["4f47113b.8e859"]]},{"id":"4f47113b.8e859","type":"image","z":"c0d87753.404178","name":"annotation","width":160,"data":"annotatedInput","dataType":"msg","thumbnail":false,"active":true,"pass":true,"outputs":1,"x":550,"y":100,"wires":[["af6c42b8.a3f5d"]]},{"id":"af6c42b8.a3f5d","type":"debug","z":"c0d87753.404178","name":"result","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":690,"y":100,"wires":[]},{"id":"846a09a5.571748","type":"inject","z":"c0d87753.404178","name":"","topic":"","payload":"","payloadType":"date","repeat":"20","crontab":"","once":true,"onceDelay":"1","x":140,"y":40,"wires":[["891af614.4160e8"]]},{"id":"891af614.4160e8","type":"http request","z":"c0d87753.404178","name":"","method":"GET","ret":"bin","paytoqs":false,"url":"http://tmpc-roppongi.suncomm.net/SnapshotJPEG?Resolution=320x240&page=DUMMY","tls":"","persist":false,"proxy":"","authType":"","x":130,"y":100,"wires":[["cb20758f.04da48"]]}]